@model Web.Models.ListaLogActividadDto
@{
    Layout = null;
}
      <h2><strong>@Model.Titulo</strong></h2>
<table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>NumeroDeTarjeta</th>
          <th>Fecha de Entrada</th>
          <th>Fecha de Salida</th>
        </tr>
      </thead>
    <tbody>
            <tr class="info">
                <th class="info" scope="row"><p class="bg-info">Actual</p></th>
                <td class="info">@(Model.EstadoActual != null ? Model.EstadoActual.NumeroDeTarjeta : "")</td>
                <td class="info">@(Model.EstadoActual != null ? Model.EstadoActual.FechaDeEntrada.ToString() : "")</td>
                <td class="info">@(Model.EstadoActual != null ? Model.EstadoActual.FechaDeSalida.ToString() : "")</td>
            </tr>
        @foreach (var item in Model.Estados)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.NumeroDeTarjeta</td>
                <td>@item.FechaDeEntrada</td>
                <td>@item.FechaDeSalida</td>
            </tr>
        }
    </tbody>
    </table>


